<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div class="layui-header f-header" style="position: relative;" th:fragment="layout_header">
            <ul class="layui-nav layui-bg-cyan layui-layout-left left-nav f-nav">
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" class="f-refresh-btn" title="刷新">
                        <i class="layui-icon layui-icon-refresh"></i>
                    </a>
                </li>

            </ul>

            <ul class="layui-nav layui-bg-cyan layui-layout-right header-right f-nav">
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" class="f-screen-full-btn" title="全屏/退出全屏">
                        <i class="layui-icon layui-icon-screen-full f-screen-full-btn-icon"></i>
                        <i class="layui-icon layui-icon-screen-restore f-exit-full-btn-icon"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                         <img th:src="@{/static/images/users/{gender}(gender=${user.getGender()}+'.png')}" class="layui-nav-img">
                         <span th:text="${user.getNickName()}"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd lay-unselect>
                            <a href="/logout" class="header-right-down-item">退出登录</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </body>
</html>