
.layui-card{
    border-radius:10px;
}

.layui-card:hover{
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 10%);
}


.page-view-totla {
    font-size: 36px;
    color: #666;
    line-height: 36px;
    padding: 5px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}
.shortcut-button{
    width: auto;
    height: auto;
    display: block;
    cursor: pointer;
    text-align: center;
}
.shortcut-button-icon{
    display: block;
    width: 180px;
    height: 100px;
    -webkit-text-emphasis: dot #F8F8F8;
    text-align: center;
    line-height: 55px;
    background: #F8F8F8;
    border-radius: 8px;
}
.shortcut-button:hover{
    color: #2F4056;
}
.layui-layer-page .layui-layer-content{
    overflow: initial!important;
}