<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="Shortcut Icon" th:href="@{/static/images/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/static/lib/layui-v2.5.6/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/static/css/home.css}">
    <link th:href="@{/static/lib/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <title>主页面</title>
</head>
<body>
<div class="layui-container">
    <div class="container">
        <div class="share-file-item">
            <div class="file-title">文件名: 测试.txt</div>
            <div class="file-sharer">分享人&nbsp;&nbsp;&nbsp;:&nbsp; 邵明</div>
            <div class="file-share-time">分享时间: 2021-09-16 12:30:55</div>
            <div class="file-data" style="margin-bottom: 28px;">
                <span class="file-download">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    <span class="file-download-count">&nbsp;&nbsp;350</span>
                </span>
                <span class="file-read">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span class="file-read-count">&nbsp;&nbsp;936</span>
                </span>
            </div>
            <div class="download">
                <button class="download-btn">文件下载</button>
            </div>
        </div>
        <div class="share-file-item">
            <div class="file-title">文件名: 测试.txt</div>
            <div class="file-sharer">分享人&nbsp;&nbsp;&nbsp;:&nbsp; 邵明</div>
            <div class="file-share-time">分享时间: 2021-09-16 12:30:55</div>
            <div class="file-data" style="margin-bottom: 28px;">
                <span class="file-download">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    <span class="file-download-count">&nbsp;&nbsp;350</span>
                </span>
                <span class="file-read">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span class="file-read-count">&nbsp;&nbsp;936</span>
                </span>
            </div>
            <div class="download">
                <button class="download-btn">文件下载</button>
            </div>
        </div>

        <div class="share-file-item">
            <div class="file-title">文件名: 测试.txt</div>
            <div class="file-sharer">分享人&nbsp;&nbsp;&nbsp;:&nbsp; 邵明</div>
            <div class="file-share-time">分享时间: 2021-09-16 12:30:55</div>
            <div class="file-data" style="margin-bottom: 28px;">
                <span class="file-download">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    <span class="file-download-count">&nbsp;&nbsp;350</span>
                </span>
                <span class="file-read">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span class="file-read-count">&nbsp;&nbsp;936</span>
                </span>
            </div>
            <div class="download">
                <button class="download-btn">文件下载</button>
            </div>
        </div>

        <div class="share-file-item">
            <div class="file-title">文件名: 测试.txt</div>
            <div class="file-sharer">分享人&nbsp;&nbsp;&nbsp;:&nbsp; 邵明</div>
            <div class="file-share-time">分享时间: 2021-09-16 12:30:55</div>
            <div class="file-data" style="margin-bottom: 28px;">
                <span class="file-download">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    <span class="file-download-count">&nbsp;&nbsp;350</span>
                </span>
                <span class="file-read">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span class="file-read-count">&nbsp;&nbsp;936</span>
                </span>
            </div>
            <div class="download">
                <button class="download-btn">文件下载</button>
            </div>
        </div>


        <div class="share-file-item">
            <div class="file-title">文件名: 测试.txt</div>
            <div class="file-sharer">分享人&nbsp;&nbsp;&nbsp;:&nbsp; 邵明</div>
            <div class="file-share-time">分享时间: 2021-09-16 12:30:55</div>
            <div class="file-data" style="margin-bottom: 28px;">
                <span class="file-download">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    <span class="file-download-count">&nbsp;&nbsp;350</span>
                </span>
                <span class="file-read">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span class="file-read-count">&nbsp;&nbsp;936</span>
                </span>
            </div>
            <div class="download">
                <button class="download-btn">文件下载</button>
            </div>
        </div>

        <div class="share-file-item">
            <div class="file-title">文件名: 测试.txt</div>
            <div class="file-sharer">分享人&nbsp;&nbsp;&nbsp;:&nbsp; 邵明</div>
            <div class="file-share-time">分享时间: 2021-09-16 12:30:55</div>
            <div class="file-data" style="margin-bottom: 28px;">
                <span class="file-download">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    <span class="file-download-count">&nbsp;&nbsp;350</span>
                </span>
                <span class="file-read">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span class="file-read-count">&nbsp;&nbsp;936</span>
                </span>
            </div>
            <div class="download">
                <button class="download-btn">文件下载</button>
            </div>
        </div>

        <div class="share-file-item">
            <div class="file-title">文件名: 测试.txt</div>
            <div class="file-sharer">分享人&nbsp;&nbsp;&nbsp;:&nbsp; 邵明</div>
            <div class="file-share-time">分享时间: 2021-09-16 12:30:55</div>
            <div class="file-data" style="margin-bottom: 28px;">
                <span class="file-download">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    <span class="file-download-count">&nbsp;&nbsp;350</span>
                </span>
                <span class="file-read">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span class="file-read-count">&nbsp;&nbsp;936</span>
                </span>
            </div>
            <div class="download">
                <button class="download-btn">文件下载</button>
            </div>
        </div>

        <div class="share-file-item">
            <div class="file-title">文件名: 测试.txt</div>
            <div class="file-sharer">分享人&nbsp;&nbsp;&nbsp;:&nbsp; 邵明</div>
            <div class="file-share-time">分享时间: 2021-09-16 12:30:55</div>
            <div class="file-data" style="margin-bottom: 28px;">
                <span class="file-download">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    <span class="file-download-count">&nbsp;&nbsp;350</span>
                </span>
                <span class="file-read">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span class="file-read-count">&nbsp;&nbsp;936</span>
                </span>
            </div>
            <div class="download">
                <button class="download-btn">文件下载</button>
            </div>
        </div>

        <div class="share-file-item">
            <div class="file-title">文件名: 测试.txt</div>
            <div class="file-sharer">分享人&nbsp;&nbsp;&nbsp;:&nbsp; 邵明</div>
            <div class="file-share-time">分享时间: 2021-09-16 12:30:55</div>
            <div class="file-data" style="margin-bottom: 28px;">
                <span class="file-download">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    <span class="file-download-count">&nbsp;&nbsp;350</span>
                </span>
                <span class="file-read">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span class="file-read-count">&nbsp;&nbsp;936</span>
                </span>
            </div>
            <div class="download">
                <button class="download-btn">文件下载</button>
            </div>
        </div>

    </div>
</div>
<script th:src="@{/static/lib/jquery/jquery-3.5.1.min.js}"></script>
<script th:src="@{/static/lib/layui-v2.5.6/layui/layui.all.js}"></script>
</body>
</html>