<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>初始化</title>
    <link rel="Shortcut Icon" th:href="@{/static/images/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/static/lib/layui-v2.5.6/layui/css/layui.css}">
    <link th:href="@{/static/lib/step-lay/step.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/css/install.css}" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="install-title"></div>
    <div class="layui-carousel" style="margin: 0 auto;">
        <div style="background: #627aad">
            <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;background: #fff;
            border-radius: 10px;padding-bottom: 10px;">
                <div id="add-form" style="margin-right: 32px">
                    <div class="layui-form-item">
                        <label class="layui-form-label">集群名称:</label>
                        <div class="layui-input-block">
                            <input name="name" placeholder="请输入集群名称" type="text" lay-verify="required" class="layui-input"
                                   value="default">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">组名称:</label>
                        <div class="layui-input-block">
                            <input name="groupName" id="groupName" placeholder="请输入组名称" type="text" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">服务地址:</label>
                        <div class="layui-input-block">
                            <input name="serverAddress" id="serverAddress" placeholder="请输入当前集群服务地址" lay-verify="required"
                                   type="text" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">访问域名:</label>
                        <div class="layui-input-block">
                            <input name="showAddress" id="showAddress" placeholder="资源访问域名" type="text" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block" style="margin-bottom: 10px;">
                            <button class="layui-btn" lay-submit lay-filter="addPeers" style="border-radius: 18px">
                                &emsp;添加&emsp;
                            </button>
                            <button class="layui-btn" type="button" onclick="toLogin()" style="border-radius: 18px">
                                &emsp;登录&emsp;
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/static/lib/jquery/jquery-3.5.1.min.js}"></script>
<script th:src="@{/static/lib/layui-v2.5.6/layui/layui.all.js}"></script>
<script th:src="@{/static/lib/step-lay/step.js}"></script>
<script type="text/javascript">
    layui.use(['form'], function () {
        const form = layui.form;
        form.on('submit(addPeers)', function (data) {
            const index = layer.load();
            $.post("/peers/doAdd", data.field, function (result) {
                if (result.code === 200) {
                    layer.close(index);
                } else {
                    layer.close(index);
                    layer.msg(result.msg);
                }
            });
            return false;
        });
    })

    function toLogin() {
        window.location.href = "/login";
    }
</script>
</body>
</html>