<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/lib/layui-v2.5.6/layui/css/layui.css}" media="all">
    <link th:href="@{/static/lib/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/static/css/file.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/github-markdown.css}">
    <script type="text/javascript" th:src="@{/static/lib/iconfont/iconfont.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/showdown.min.js}"></script>
    <style>
        .format {
            display: flex;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="layui-container" style="width: 100%;">
    <div class="layui-row">
        <div class="layui-col-md12" style="padding:5px;">
            <div class="layui-card">
                <div class="layui-card-header" style="padding: 5px;">
                    <form class="layui-form" onsubmit="return false">
                        <div class="layui-form-item" id="form-item">
                            <div class="layui-input-inline">
                                <input type="text" id="search" name="keywords" lay-verify="required"
                                       placeholder="请输入要检索的文件关键字" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-input-inline" style="width: 250px;">
                                <select name="repo" lay-filter="repo" id="repo-select">
                                    <option value="">选择仓库</option>
                                    <option value="gitee">Gitee</option>
                                    <option value="ftp">FTP</option>
                                    <option value="github">Github</option>
                                </select>
                            </div>
                            <div class="layui-input-inline" style="width: 250px;" id="project-item">
                                <select name="project" lay-filter="project" id="project-select">
                                    <option value="">选择项目</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body">
                    <div class="file-list-side">
						<span class="layui-breadcrumb" id="path-side">
                        </span>
                    </div>
                    <hr class="layui-bg-gray">
                    <div class="file-list">
                        <div class="file-list-header">
                            <ul class="file-list-header-ul">
                                <li class="file-list-header-li file-list-name">文件名</li>
                                <li class="file-list-header-li file-list-size">大小</li>
                                <li class="file-list-header-li file-list-date">创建日期</li>
                                <li class="file-list-header-li file-list-handle">操作</li>
                            </ul>
                        </div>
                        <!--                        文件或文件夹展示-->
                        <div class="file-list-result" id="file-result">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/static/lib/layui-v2.5.6/layui/layui.all.js}"></script>
<script id="file-list" type="text/html">
    {{if data.length > 0}}
    {{each data as value i}}
    <div class="file-list-file-box">
        <!--        文件夹展示-->
        {{if value.is_dir}}
        <a class="file-list-file file-list-file-name resultDir" id="dir-path" href="javascript:;"
           data-path="{{value.path}}"
           data-name="{{value.name}}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-{{value.name | iconHandler:value.is_dir}}"></use>
            </svg>
            <span>{{value.name}}</span>
        </a>
        <!--        文件展示-->
        {{else}}
        <a class="file-list-file file-list-file-name resultFile" id="file-path" href="javascript:;"
           data-path="{{value.path}}"
           data-name="{{value.name}}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-{{value.name | iconHandler:value.is_dir}}"></use>
            </svg>
            <span>{{value.name}}</span>
        </a>
        {{/if}}
        <div class="file-list-file file-list-file-size">
            {{if value.is_dir}}
            -
            {{else}}
            {{value.file_size}}
            {{/if}}
        </div>
        <div class="file-list-file file-list-file-date">
            -
        </div>
        <div class="file-list-file file-list-file-handle">
            <!--            文件夹列表操作-->
            {{if value.is_dir}}
            <button class="layui-btn layui-btn-xs  layui-btn-normal upload-file-btn" data-path="{{value.path}}"
                    data-name="{{value.name}}">上传
            </button>

            <button class="layui-btn layui-btn-xs layui-btn-warm rename-file-btn" data-path="{{value.path}}"
                    data-name="{{value.name}}">重命名
            </button>

            <button class="layui-btn layui-btn-xs layui-btn-danger delete-dir-btn" data-path="{{value.path}}"
                    data-name="{{value.name}}">删除
            </button>

            <!--            文件列表操作-->
            {{else}}
            <button class="layui-btn layui-btn-xs details-btn"
                    data-path="{{value.path}}"
                    data-name="{{value.name}}" title="文件详情">详情
            </button>
            <button class="layui-btn layui-btn-xs share-btn"
                    data-path="{{value.path}}"
                    data-name="{{value.name}}" title="文件分享">分享
            </button>
            <button class="layui-btn layui-btn-xs open-btn"
                    data-path="{{value.path}}"
                    data-name="{{value.name}}" data-open="{{value.open}}" data-size="{{value.size}}" title="分享发现">
                {{value.open === 1?'私有':'公开'}}
            </button>
            <button class="layui-btn layui-btn-xs layui-btn-warm rename-file-btn"
                    data-path="{{value.path}}"
                    data-name="{{value.name}}">重命名
            </button>
            <button class="layui-btn layui-btn-xs layui-btn-normal download-btn" data-path="{{value.path}}"
                    data-name="{{value.name}}" title="下载文件">下载
            </button>
            <button class="layui-btn layui-btn-xs layui-btn-normal converter-btn" data-path="{{value.path}}"
                    data-name="{{value.name}}">格式转换
            </button>
            <button class="layui-btn layui-btn-xs layui-btn-danger delete-file-btn" data-path="{{value.path}}"

                    data-name="{{value.name}}">删除
            </button>
            {{/if}}
        </div>
        <div class="clear"></div>
    </div>
    {{/each}}
    {{else}}
    <div class="file-list-file-box">
        <div class="no-file-tip" value="">暂无文件</div>
    </div>
    {{/if}}
</script>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/lib/template-web/template-web.js}"></script>
<script th:src="@{/static/js/kit.js}"></script>
<script th:src="@{/static/js/qrcode.js}"></script>
<script th:src="@{/static/js/repo.js}"></script>
</body>
</html>